{% extends "layout.html" %} {% block content %}


<section class="container">
    <div class="card">
        <div class="card-header">This is the main page rendered from a template and using bootstrap</div>

        <div class="card-body">

            <table class="table table-striped">
                <tr>
                    <th>Title</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Count</th>
                    <th style="width:30px;"></th>
                </tr>
                {% for post in posts %}
                <tr>
                    <td>
                        <a href="{{ url_for('detail', indexID=post.id)}}">{{post.title}}</a>
                    </td>
                    <td>{{ post.name }}</td>
                    <td>{{ post.date }}</td>
                    <td>{{ post.count }}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bars"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{url_for('form', indexID=post.id)}}">Update</a>
                                <a class="dropdown-item" index_id= "{{post.id}}" href="#">Delete</a>

                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</section>
{% endblock content%}